/*  FONTS  */ 

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


h1, h2, h3, h4, h5, h6, p {
 margin: 0;
 padding: 0;
 font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.6rem;
    font-weight: 300;
}
h4 {
    font-size: 1.1rem;
    font-weight: 300;
}
h5 {
    font-size: 0.9rem;
    font-weight: 300;
}


a {
  color: inherit;  
}

a:hover {
    text-decoration: none;
}

.bold-in-text {
    font-weight: 800;
}


/*  COLOURS  */ 






/* GLOBAL PARENTS */

body, div, section {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    height: max-content;
    display: flex;
    flex-direction: column;
}

button {
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #7b7b7b;
    border: none;
}

button:focus {
    outline: none;
}

.btn {
font-family: "Poppins", sans-serif;
background-color: #ffffff;
}

.cta-btn {
    color: #fff;
    background-color: #f8554a;
}

/*  NAVBAR  */ 
.navbar-brand img {
    max-width: 150px;
}

.navbar-nav {
    margin-left: auto;
}

.container {
    max-width: 100%;
}

.hz-rule {
    padding-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #a9a9a9;
}

.hide {
    display: none!important;
}

.full-width {
    width: 100vw;
}

.underline-hdr {
    width: max-content;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}

/* FOOTER */

footer {
    display: flex;
    flex-grow: 2;
}

footer > div {
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
}

footer > div div {
    margin: auto ;
}



/* === LOCATION LISTING PAGE === */
/* ===  === === === === ===  === */

.locations-pg-wrapper {
    max-width: 100%;
    height: -webkit-fill-available;
    background: #f1f1f1;
    display: -webkit-box;
}
.location-list-wrapper {
    padding: 0 40px;
}


#results_title {
    padding: 15px 0;
    margin: 40px 0px 20px 0px;
}

.list-item-img {
    max-width: 250px;
    min-height: 100%;
    max-height: 170px;
    overflow: hidden;
}

.list-item-img > img {
    width: auto;
    height: 100%;
    display: flex;
}

.location-info {
    width: -webkit-fill-available;
    height: max-content;
}

#locations_sidebar {
    background-color: #fff;
    height: 100%;
    position: absolute;
    right: -50%;
    z-index: 3;
    top: 0px;
    width: 50%;
    box-shadow: -2px 1px 4px -1px #a9a9a9;
}

.sidebar-img-wrapper {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 150px;
}

.sidebar-img-wrapper img {
    width: 100%;
    transform: translateY(-75px);
}

#close_btn {
    position: absolute;
    background-color: #ffffffb0;
    border-radius: 0px;
    z-index: 1;
    box-shadow: none;
}

.area-tag {
    padding: 3px 8px;
    background-color: #dedede;
    box-shadow: 1px 1px 1px #a9a9a9;
    width: fit-content;
    border-radius: 5px;
}

.sidebar-website-btn {
    background-color: #0062cc;
    box-shadow: 1px 1px 5px #7b7b7b;
    color: #ffffff;
}

.list-overlay, .map-overlay {
    width: 100%;
    height: 100%;
    background-color: #71717180;
    z-index: 0;
    position: absolute;
    opacity: 0;
    display: none;
    
}

.read-more-trigger {
    font-weight: bold;
    color: #0062cc;
}

#filter-sidebar {
    background: linear-gradient(160deg, rgb(0 61 138 / 92%) 60%, rgba(94,121,255,1) 100%);
    box-shadow: 1px 1px 1px #a9a9a9;
    padding: 40px 40px;
}

.filter-btn, .area-btn, .sort-date, .search-btn {
    
    background: #ffffff;
    background: linear-gradient( to right, #fff 50%, #ffc6c3fa 50%);
    background-size: 200% 100%;
    background-position: left;
    
    font-size: 16px;
    transition: 0.5s ease-in-out;
}

.filter-btn:hover, .area-btn:hover, .sort-date:hover, .search-btn:hover {
   background-position: right;
}

.filter-btn.active, .area-btn.active, .sort-date.active {
   transition: 0s;
    background: #f8554a;
    color: #fff;
    box-shadow: inset 1px 1px 4px 0px #3c3c3c;
}

.filter-section {
    color: #ffffff;
}

.filter-section input:focus {
    box-shadow: inset 1px 1px 4px 0px #3c3c3c;
}

#search {
    width: 50%;
    flex-grow: 2;
    margin-right: 0;
    border-radius: 2px 0px 0px 2px;
}

.search-btn {
    margin-right: 0!important;
    border-radius: 0px 2px 2px 0px!important;
}

.filter-section button, .filter-section input {
    padding: 15px 20px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 2px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 4px 0px #3c3c3c;
    transition: 0.3s ease-in-out;
}

.no-results-map {
    position: absolute;
    width: 50%;
    top: 40%;
    left: 25%;
    z-index: 2;
}


.list-item{
    border-radius: 5px;
    box-shadow: 1px 1px 4px -1px #a9a9a9;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.list-item:hover {
    box-shadow: 1px 1px 6px -1px #484848;
}

#pagination_wrapper {
    width: -webkit-fill-available;
    height: max-content;
    margin-top: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#pagination_btns {
    width: max-content; 
    height: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 1px 1px 4px 0px #3c3c3c;
    background: transparent;
    border: none;
    border-radius: 2px;
}

.pagination-btn {
    box-shadow: none;
    border-right: 1px solid #a9a9a9;
    border-radius: inherit;
    margin: 0;
    padding: 15px 20px;
    transition: 1.5s ease-in-out


}
.pagination-btn:last-of-type {
    border-right: none;
    border-radius: 0px 2px 2px 0px;
}
.pagination-btn:first-of-type {
    border-radius: 2px 0px 0px 2px;
}

.pagination-btn.active {
    background: #f8554a;
    color: #fff;
    box-shadow: inset 1px 1px 4px 0px #3c3c3c;
    border: none;
}


/* Google Maps */

#map {
    height: 100%;
    width: 100%;
}



/* ANIMATIONS */

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


